<form method='get' action='/animals/new'>
  <input type='submit' value='Add New'>
</form>
<form method='get' action='/animals/search'>
  <input type='text' name='name' placeholder="Search...">
  <input type='submit' value='Go'>
</form>

<h1>Animals</h1>

  <% @animals.each do |animal| %>
    <div id='animal-list'>
    <p> Name: <%= animal.name%> </p>
    <p> Species: <%= animal.breed %> </p>
    <p> Location: <%= animal.owner().name %> </p>
    <p><a href="/animals/<%= animal.id %>">Details</a></p>
    </div>
  <% end %>
