<h2>Register New Animals</h2>
<form id='new-animal' method="post" action='/animals'>
  <label>Name:</label>
  <input type='text' name='name'>

  <label>Breed:</label>
  <input type="text" name='breed'>

  <label>Age:</label>
  <input type="number" name='age'>

  <label>Gender:</label>
  <select name='gender'>
    <option value='Male'>Male</option>
    <option value='Female'>Female</option>
  </select>

  <label>Status:</label>
  <select name='status'>
    <option value='Ready'>Ready</option>
    <option value='Not Ready'>Not Ready</option>
    <option value='In Training'>In Training</option>
    <option value='At Vet'>At Vet</option>
  </select>

  <label>Location/Owner:</label>
  <select name='owner_id'>
    <% @owners.each do |owner| %>
    <option value='<%=owner.id%>'><%=owner.name%></option>
    <% end %>
  </select>

  <label>Admission Date:</label>
  <input type='date' name='admission_date'>

  <label>Description:</label>
  <input type='text' name='description' size='45'>

  <input type='submit' value='Add'>

</form>
