<h1>Animal Shelter</h1>
<h2><a href='/animals'>Animals</a></h2>
<p>Click here to see all animals that we take care off, browse and adopt</p>
<h2><a href='/owners'>Owners</a></h2>
<p>Click here to register as an adopter and to manage your account</p>
