<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Animal Shelter</title>
  <link rel='stylesheet' type='text/css' href="/styles/styles.css">
</head>

<body>
  <nav>
    <div class='menu'>
      <span><a href='/'>Home</a></span>
      <span><a href='/'>About Us</a></span>
      <span><a href='/animals'>Animals</a></span>
      <span><a href='/owners'>Owners</a></span>
      <span><a href='/animals/new'>New Animal</a></span>
      <span><a href='/animals/adopt'>Adopt</a></span>
      <span><a href='/owners/new'>New Owner</a></span>
    </div>
  </nav>
  <%= yield %>
</body>
</html>
