<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Animal Shelter</title>
    <link rel='stylesheet' type='text/css' href="/styles/styles.css">
  </head>

  <body>
    <nav>
      <div id='menu'>
      <span><a href='/'>Home</a></span>
      <span><a href='/'>About Us</a></span>
      <span><a href='/animals'>Animals</a></span>
    <span><a href='/owners'>Owners</a></span>
    <span><a href='/animals/new'>Add New Animal</a></span>
  <span><a href='/animals/adopt'>Adopt Animal</a></span>
  </div>
    </nav>
    <%= yield %>
  </body>
</html>
