<p><a href='/owners/new'>Register New Owner</a></p>
<h2>List of Registered Owners</h2>
<hr/>
<% @owners.each do |x| %>
<p><a href='/owners/<%= x.id %>'>Name: <%=x.name %></a> </p>
<p><a href='/owners/<%= x.id %>/edit'>Edit</a></p>
<hr/>
<% end %>
