<p><a href='/owners/new'>Register New Owner</a></p>
<h2>List of Registered Owners</h2>
<hr/>
<% @owners.each do |x| %>
<p>Name: <%=x.name %> </p>
<button>Pets</button>
<button>Edit</button>
<button>Notes</button>
<button>Delete</button>
<hr/>
<% end %>
