<h1>Register New Owner</h1>
<form action='/owners' method='post'>
  <label for='owner-name'>Name:</label>
    <input id='owner-name' name='name' type='text'>

    <input type='submit' value='Add new'>
</form>
